<div class="box span7 border-shadow">
  <span class="miniheader">Drugs</span>
  <article class="articlecontent">
    <h1>Drugs A-Z</h1>
    <div class="pagination pagination-mini pagination-left">
      <ul>
        <% @alphabetical.each do |letter| %>
            <%= content_tag :li, link_to(letter, drugs_pagination_path(:letter=>letter.downcase)) %>
        <% end %>
      </ul>
    </div>

    <table class="table table-striped">
      <tr>
        <th>Brand name</th>
        <th>Action</th>
      </tr>
      <% if @drugs %>
      <% @drugs.each do |drug| %>
          <tr>
            <td><%= link_to drug.brand_name, drug_reviews_path(drug.id)%> (<%= pluralize(drug.reviews.count, "Review")%>)</td>
            <td><%= link_to 'Show', drug_reviews_path(drug.id) ,:class=>'btn'%></td>

          </tr>
      <% end %>
          <%end%>
    </table>

  </article>
</div>


<div class="well span3 border-shadow">
<ul class="nav nav-list">
  <li class="nav-header">Commonly rated Drugs</li>
  <li class="divider"></li>
  <% @commondrugs.each do |drug| %>
      <li>
        <%= link_to "#{drug.brand_name} (#{drug.reviews.count})", drug_reviews_path(drug.id)%>
      </li>
  <% end %>
</ul>
   </div>
