<div class=" span8 offset1">
  <!--<div class="box span8 border-shadow">-->
  <!--<span class="miniheader">Drugs</span>-->
  <article class="articlecontent">
    <section>
    <h1 class="static_divider">Drugs A-Z List</h1>
    <div class="pagination pagination-mini pagination-centered">
      <ul>
        <% @alphabetical.each do |letter| %>
            <%= content_tag :li, link_to(letter, drugs_pagination_path(:letter=>letter.downcase)) %>
        <% end %>
      </ul>
    </div>
    </section>

    <section id="alphabet_listing">
      <% if params[:letter].present? %>
      <h3 class="span8 static_divider"><em><%= params[:letter].capitalize %></em></h3>
          <% else %>
          <h3 class="span8 static_divider"><em>A</em></h3>
          <% end %>
      <% if @drugs.present? %>
          <div class=" span3">
            <ul class="unstyled">
              <% @drugs[0..@sizehalf].each do |drug|%>
                  <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.id)%></li>
              <%end%>
            </ul>
          </div>
          <div class=" span3">
            <ul class="unstyled">
              <% @drugs[@sizehalf +1 ..@size].each do |drug|%>
                  <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.id)%></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </section>
  </article>
</div>




<article class="span2  side_widget">

  <ul class="nav nav-list">
    <section> <h5 class="static_divider">Most Reviewed Drugs</h5></section>
    <% @Mostrevieweddrugs.each do |drug| %>
        <li>
          <%= link_to "#{drug.brand_name} (#{drug.reviews.count} reviews)", drug_reviews_path(drug.id)%>
        </li>
    <% end %>
  </ul>
</article>

<article class="span2  side_widget">

  <ul class="nav nav-list pre-scrollable">
    <section><h5 class="static_divider">Popular Drugs</h5></section>
    <% @commondrugs.each do |drug| %>
        <li>
          <%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%>
        </li>
    <% end %>
  </ul>
</article>

<article class="span2  side_widget">

  <ul class="nav nav-list">
    <section><h5 class="static_divider">Last Visited</h5> </section>
    <% if session[:history].present? %>
    <% session[:history].each do |url| %>
        <li>
        <%= last_viewed url%>
        </li>
    <% end %>
        <% end%>
  </ul>
</article>