<h1>Listing drugs</h1>

<table class="table table-striped">
  <tr>
    <th>Brand name</th>
    <th>Side effect</th>
    <th>Manufacturer</th>
    <th></th>

  </tr>

<% @drugs.each do |drug| %>
  <tr>
    <td><%= drug.brand_name %> (<%=drug.generic_name%>)</td>
    <td><%= drug.side_effect %></td>
    <td><%= drug.manufacturer %></td>
    <td><%= link_to 'Show', drug ,:class=>'btn'%></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drug', new_drug_path %>
