<p id="notice"><%= notice %></p>

<p>
  <b>Generic name:</b>
  <%= @drug.generic_name %>
</p>

<p>
  <b>Brand name:</b>
  <%= @drug.brand_name %>
</p>

<p>
  <b>Side effect:</b>
  <%= @drug.side_effect %>
</p>

<p>
  <b>Dosage:</b>
  <%= @drug.dosage %>
</p>

<p>
  <b>Precaution:</b>
  <%= @drug.precaution %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @drug.manufacturer %>
</p>


<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %> |

<%= link_to "See #{@drug.generic_name} reviews", :controller => "reviews", :action => "index", :drug_id=>@drug.id if @drug.reviews.exists? %>
<p>
<%= link_to "Write a review!", :controller => "reviews", :action => "new", :drug_id=>@drug.id, :drug_name=>@drug.generic_name%>
</p>