<p id="notice"><%= notice %></p>

<p>
  <b>Generic name:</b>
  <%= @drug.generic_name %>
</p>

<p>
  <b>Brand name:</b>
  <%= @drug.brand_name %>
</p>

<p>
  <b>Side effect:</b>
  <%= @drug.side_effect %>
</p>

<p>
  <b>Dosage:</b>
  <%= @drug.dosage %>
</p>

<p>
  <b>Precaution:</b>
  <%= @drug.precaution %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @drug.manufacturer %>
</p>


<%= render "review_ratings"%>

<div id="reviews_chart" style="width: 660px; height: 300px;"></div>
<div id="buttons">
<%= link_to 'Average Ratings', drug_path, :id=>'avg_link', remote: true%>
<%= link_to 'Effectiveness', effectiveness_count_drug_path, :id=>'effectlink', remote: true%>
  <%= link_to 'Ease of Use', ease_of_use_count_drug_path, :id=>'eoulink', remote: true%>
  <%= link_to 'Satisfactory', satisfactory_count_drug_path, :id=>'satisfylink', remote: true%>
</div>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %> |

<%= link_to "See #{@drug.generic_name} reviews", :controller => "reviews", :action => "index", :drug_id=>@drug.id if @drug.reviews.exists? %>
<p>
<%= link_to "Write a review!", :controller => "reviews", :action => "new", :drug_id=>@drug.id, :drug_name=>@drug.generic_name%>
</p>