<div class="btn-group dropup">
  <button id="all" class="btn">Overall</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to 'Overall', multi_pie_view_condition_path(@condition,@optionshash), :id=>'multi_pie_link', remote: true%></li><!-- dropdown menu links -->
  </ul>

</div>

<div class="btn-group dropup">
  <button id="eff" class="btn">Effectiveness</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <p>Effectiveness</p>
      <ul>
        <li><%= link_to 'All', by_gender_all_effectiveness_condition_path(@condition), :id=>'by_gender_all_effectiveness', remote: true%></li>
        <li><%= link_to 'Male ', by_gender_male_effectiveness_condition_path(@condition), :id=>'by_gender_male_effectiveness', remote: true%></li>
        <li><%= link_to 'Female', by_gender_female_effectiveness_condition_path(@condition), :id=>'by_gender_female_effectiveness', remote: true%></li>
      </ul>
      <p>Ease of Use</p>
      <ul>
        <li><%= link_to 'All', by_gender_all_effectiveness_condition_path(@condition), :id=>'by_gender_all_effectiveness', remote: true%></li>
        <li><%= link_to 'Male ', by_gender_male_effectiveness_condition_path(@condition), :id=>'by_gender_male_effectiveness', remote: true%></li>
        <li><%= link_to 'Female', by_gender_female_effectiveness_condition_path(@condition), :id=>'by_gender_female_effectiveness', remote: true%></li>
      </ul>
    </li>

  </ul>
</div>
<%= form_for @condition,:url=> multi_pie_view_condition_path(@condition.id),:method => "get" do |f| %>
    <%= hidden_field_tag 'conditions', 'true' %>
    <%= hidden_field_tag 'type', 'all', :id=>"viewtype"%>
    <ul><%= label_tag(:gender, "Restrict by Gender") %>
      <li><%= radio_button_tag(:gender,"Male") %> Male</li>
      <li><%= radio_button_tag(:gender,"Female") %> Female</li>
    </ul>
    <ul>
      <%= label_tag(:age, "Age Range") %>
      <li><%= radio_button_tag(:age,"7-12") %>7-12</li>
      <li><%= radio_button_tag(:age,"19-24") %>19-24</li>
      <li><%= radio_button_tag(:age,"25-34") %>25-34</li>
      <li><%= radio_button_tag(:age,"35-44") %>35-44</li>
      <li><%= radio_button_tag(:age,"45-54") %>45-54</li>
      <li><%= radio_button_tag(:age,"55-64") %>55-64</li>
      <li><%= radio_button_tag(:age,"65-74") %>65-74</li>
      <li><%= radio_button_tag(:age,"75 or over") %>75 or over</li>

    </ul>

<%= submit_tag "Refresh",:id=>"button"%>
<%  end%>