<div class="control_panel">
<%= link_to 'Infographs', condition_path(@condition.id,:button=>"infographs"), :id=>'con_infographs', remote: true, :class =>"btn btn-success button_loading", "data-trigger"=>"hover","data-content"=> "We generated some infographs for #{@condition.name} that might interest you!", "data-original-title"=>"Infographics","data-placement"=>"bottom" %>

<div class="btn-group">
  <a id="satbtngroup" class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
    Satisfaction
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Table View', condition_path(@condition.id,:button=>"sat-table"), :id=>'sat-table', :class =>"button_loading", remote: true,  "data-trigger"=>"hover","data-content"=> "Compare all drugs related to #{@condition.name} by user satisfaction", "data-original-title"=>"By Satisfaction","data-placement"=>"bottom","tab-index"=>"-1" %></li>
    <li><%= link_to 'Pie Charts', condition_path(@condition.id,:button=>"satisfactory_view"), :id=>'satisfactory_view', :class =>"button_loading", remote: true, "data-trigger"=>"hover","data-content"=> "Compare all drugs related to #{@condition.name} by user satisfaction", "data-original-title"=>"By Satisfaction","data-placement"=>"bottom" ,"tab-index"=>"-1"%></li>
  </ul>
</div>

<div class="btn-group">
  <a id="effbtngroup"class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
    Effectiveness
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Table View', condition_path(@condition.id,:button=>"eff-table"), :id=>'eff-table', remote: true, "data-trigger"=>"hover","data-content"=> "Compare all drugs related to #{@condition.name} by effectiveness", "data-original-title"=>"By Effectiveness","data-placement"=>"bottom" ,"tab-index"=>"-1"%></li>
    <li><%= link_to 'Pie Charts', condition_path(@condition.id,:button=>"effectiveness_view"),:id=>'effectiveness_view', remote: true, "data-trigger"=>"hover","data-content"=> "Compare all drugs related to #{@condition.name} by effectiveness", "data-original-title"=>"By Effectiveness","data-placement"=>"bottom" ,"tab-index"=>"-1"%></li>
  </ul>
</div>
<div class="btn-group">
  <a id="eoubtngroup" class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
    Ease of Use
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Table View', condition_path(@condition.id,:button=>"eou-table"), :id=>'eou-table', remote: true, "data-trigger"=>"hover","data-content"=> "Compare all drugs related to #{@condition.name} by ease of use", "data-original-title"=>"By Ease of Use","data-placement"=>"bottom" ,"tab-index"=>"-1"%></li>
    <li><%= link_to 'Pie Charts', condition_path(@condition.id,:button=>"eou_view"), :id=>'eou_view', remote: true, "data-trigger"=>"hover","data-content"=> "Compare all drugs related to #{@condition.name} by ease of use", "data-original-title"=>"By Ease of Use","data-placement"=>"bottom" ,"tab-index"=>"-1"%></li>
  </ul>
</div>

<!--<p class="notification"><span class="label label-info">Heads up!</span> The buttons above controls the plot view. Click on them to see various comparison of drugs related to this conditions!</p>-->
</div>