
  <h3>Ranking drugs according to ease of administration</h3>
  <table class="footable">
    <thead >
    <tr>
      <th class="footable-sortable" data-class="expand" >Drug </th>
      <th class="footable-sortable" data-hide="default" data-type="numeric" data-sort-initial="descending">Good <i class="icon-thumbs-up"></i><i class="icon-thumbs-up"></i>  </th>
      <th class="footable-sortable" data-hide="phone,land_scape_phone,tablet" data-type="numeric">Average/Acceptable <i class="icon-thumbs-up"></i>  </th>
      <th class="footable-sortable" data-hide="phone,land_scape_phone" data-type="numeric" >Below Average <i class="icon-thumbs-down"></i>  </th>
      <th class="footable-sortable" data-hide="land_scape_phone,phone" data-type="numeric">Number of Reviewers <i class="icon-comment"></i>  </th>
    </tr>
    </thead>
    <%  @metric.each do |drug,value|%>
        <tr>
          <td><%= drug %></td>
          <td data-value="<%= (@metric[drug][:good])*100 %>" title="<%= ((@metric[drug][:good])*10).round(1) %>/10"><div class="ratings_container">
            <div class="good_icon"  style="width:<%= (@metric[drug][:good])*100 %>%"></div>
          </div>
          </td>
          <td data-value="<%= (@metric[drug][:avg])*100 %>" title="<%= ((@metric[drug][:avg])*10).round(1) %>/10"><div class="ratings_container">
            <div class="average_icon"  style="width:<%= (@metric[drug][:avg])*100 %>%"></div>
          </div>
          </td>
          <td data-value="<%= (@metric[drug][:bad])*100 %>" title="<%= ((@metric[drug][:bad])*10).round(1) %>/10"><div class="ratings_container">
            <div class="bad_icon"  style="width:<%= (@metric[drug][:bad])*100 %>%"></div>
          </div>
          </td>
          <td><%= @metric[drug][:counts] %></td>
        </tr>
    <%	 end %>
  </table>
