

<div class="span8 widget_container">
  <span class="miniheader">All Conditions</span>
  <article class="articlecontent">
    <h1>Conditions  A-Z</h1>
    <div class="pagination pagination-mini pagination-centered">
      <ul>
        <% @alphabetical.each do |letter| %>
            <%= content_tag :li, link_to(letter, conditions_pagination_path(:letter=>letter.downcase)) %>
        <% end %>
      </ul>
    </div>
    <section id="alphabet_listing">
      <% if params[:letter].present? %>
          <h2 class="span8"><em><%= params[:letter].capitalize %></em></h2>
      <% else %>
          <h2 class="span8"><em>A</em></h2>
      <% end %>

      <% if @conditions.present? %>
      <div class=" span3">
        <ul class="unstyled">
          <% @conditions[0..@sizehalf].each do |condition|%>
              <li><%= link_to condition.name, condition %></li>
          <%end%>
        </ul>
      </div>
      <div class=" span3">
        <ul class="unstyled">
          <% @conditions[@sizehalf +1 ..@size].each do |condition|%>
              <li><%= link_to condition.name, condition %></li>
          <% end %>
        </ul>
      </div>
          <% end %>
    </section>
  </article>
</div>

<article class="span2 widget_container side_widget">
  <ul class="nav nav-list">
    <!--<li class="nav-header">Commonly rated Drugs</li>-->
    <span class="label label-info">Popular Searches</span>
    <li class="divider"></li>

    <li class="nav-header">Day To Day Health</li>
    <li class="divider"></li>
    <% @day2day_condition.each do |entry| %>
        <li ><%= display_hits entry %></li>
     <% end %>
    <li class="nav-header">Common Health Conditions</li>
    <li class="divider"></li>
    <% @common.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
    <li class="nav-header">Elderly Related Conditions</li>
    <li class="divider"></li>
    <% @elderly_condition.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
    <li class="nav-header">Kids Related Conditions</li>
    <li class="divider"></li>
    <% @kids_condition.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
    <li class="nav-header">Mental Conditions</li>
    <li class="divider"></li>
    <% @mental_condition.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
  </ul>
</article>


<article class="span2 widget_container">
  <ul class="nav nav-list">
    <!--<li class="nav-header">Commonly rated Drugs</li>-->
    <span class="label label-info">Last Visited</span>
    <li class="divider"></li>
    <% if session[:history].present? %>
        <% session[:history].each do |url| %>
            <li>
              <%= last_viewed url%>
            </li>
        <% end %>
    <% end%>
  </ul>
</article>


