
<p id="notice"><%= notice %></p>
<% content_for :script do %>
    <script type='text/javascript'>
        $(function () {
        $("#overall_link").popover();
        $("#satisfactory_view").popover();
        $("#effectiveness_view").popover();
        $("#eou_view").popover();
        });
    </script>
<% end %>
<p>
  <b>Condition name:</b>
  <%= @condition.name %>
</p>

<p>
  <b>Information</b>
  <%= @condition.information %>
</p>



<div id="chart_container">
<div id="reviews_chart">
  <div class="hero-unit">
  <h1>Get started!</h1>
  <p>Click on the buttons below to start comparing drugs</p>
  <p>
    <%= link_to 'Overall', multi_pie_view_condition_path(@condition,@optionshash), :id=>'multi_pie_link', remote: true, :class =>"btn btn-primary btn-large" %>

  </p>
  </div>
</div>
  <div id="conditions">

  </div>
</div>

<div id="static_buttons">
  <div><h5>Chart Views</h5></div>
<%= render "chart_buttons" %>
</div>


<br>
<p>
  <b>Drugs related to this condition: </b>
</p>

<table class="table table-hover" id="conditions_table">
  <thead>
  <tr>
  <th>Brand</th>
  <th>Number of reviews</th>
  </tr>
  </thead>
  <tbody>
  <% @drugs.each do |drug|%>
      <tr>
        <td><i class="icon-eye-open"></i>   <%= link_to "#{drug.brand_name}", drug_reviews_path(drug.id) %></td>
        <td><%= drug.reviews.count %></td>
      </tr>
  <% end %>
  </tbody>
    </table>
