
<p id="notice"><%= notice %></p>
<% content_for :script do %>
    <script type='text/javascript'>
        $(function () {
        $("#overall_link").popover();
        $("#satisfactory_view").popover();
        $("#effectiveness_view").popover();
        $("#eou_view").popover();
        });
    </script>
<% end %>
<div class="span9">
<p>
  <b>Condition name:</b>
  <%= @condition.name %>
</p>
</div>

<div class="span9">
<p>
  <b>Information</b>
  <%= @condition.information %>
</p>
</div>


  <div id="reviews_chart" class="span9">
    <%= render "infographs" %>
  </div>

  <div class="span9">
    <h3>Control Panel</h3>
    <%= render "chart_buttons" %>
    <p class="notification"><span class="label label-info">Info</span> The buttons above controls the plot view. Click on them to see various statistics of this drug!</p>
  </div>


<br>
<div class="span9">
<p>
  <b>Drugs related to this condition: </b>
</p>

<table class="table table-hover" id="conditions_table">
  <thead>
  <tr>
  <th>Brand</th>
  <th>Number of reviews</th>
  </tr>
  </thead>
  <tbody>
  <% @drugs.each do |drug|%>
      <tr>
        <td><i class="icon-eye-open"></i>   <%= link_to "#{drug.brand_name}", drug_reviews_path(drug.id) %></td>
        <td><%= drug.reviews.count %></td>
      </tr>
  <% end %>
  </tbody>
    </table>
</div>