
<p id="notice"><%= notice %></p>
<% content_for :script do %>

    <script type='text/javascript'>
        $(function () {
            $(document).bind("ajaxSend", function(){
                  toggleOverlay();
            }).bind("ajaxComplete", function(){
                        toggleOverlay();
                    });
        $("#overall_link").popover();
        $("#satisfactory_view").popover();
        $("#effectiveness_view").popover();
        $("#eou_view").popover();
        });

        function toggleOverlay(){
            var overlay = document.getElementById('overlayid');
            var specialBox = document.getElementById('loadingtext');
//            overlay.style.opacity = .8;
            if(overlay.style.display == "block"){
                overlay.style.display = "none";
                specialBox.style.display = "none";
            } else {
                overlay.style.display = "block";
                specialBox.style.display = "block";
            }
        }
    </script>
<% end %>
<div class=row>
<div class="box span10 border-shadow">
   <!-- <span class="miniheader">By Condition</span>-->

 <article class="articlecontent">
   <h1>
     <%= @condition.name %>
   </h1>
   <h4 class="span 9">Control Panel</h4>
   <div class="static_buttons span9">
     <%= render "chart_buttons" %>

   </div>

  <div id="reviews_chart" class="span9">
    <%= render "infographs" %>
  </div>


 </article>
</div>





<div class="box span10 border-shadow">
  <span class="miniheader">Infomation pertaining to <%= @condition.name %></span>
  <article class="articlecontent">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">General Information</a></li>
    <li><a href="#tab2" data-toggle="tab">Related Drugs (<%= @drugs.count%>)</a></li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><%= @condition.information %></p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <b>Drugs related to this condition: </b>
      </p>

      <table class="table table-hover" id="conditions_table">
        <thead>
        <tr>
          <th>Brand</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @drugs.each do |drug|%>
            <tr>
              <td><i class="icon-zoom-in"></i>   <%= drug.brand_name%></td>
              <td><%= link_to "Read", drug_reviews_path(drug.id), :class=>"btn btn-primary" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </article>
</div>
</div>