
<p id="notice"><%= notice %></p>
<% content_for :script do %>
    <%= stylesheet_link_tag 'footable'%>
    <%= stylesheet_link_tag 'footablesortable'%>
    <%= javascript_include_tag "footable" %>
    <%= javascript_include_tag "footablesortable" %>

    <script type='text/javascript'>
        $(function () {
             /////////////////////////////////
            $("#fountainTextG").hide();

            $("#overall_link,#satisfactory_view,#effectiveness_view,#eou_view,#sat-table,#eff-table,#eou-table").bind("ajax:beforeSend", function(){
                $("#overall_link,#satisfactory_view,#effectiveness_view,#eou_view,#sat-table,#eff-table,#eou-table").addClass("disabled");
                $("#overall_link,#satisfactory_view,#effectiveness_view,#eou_view,#sat-table,#eff-table,#eou-table").prop("disabled",true);
                $("#fountainTextG").show();
            });
            $("#overall_link,#satisfactory_view,#effectiveness_view,#eou_view,#sat-table,#eff-table,#eou-table").bind("ajax:complete", function(){
                $("#overall_link,#satisfactory_view,#effectiveness_view,#eou_view,#sat-table,#eff-table,#eou-table").removeClass("disabled")
                $("#overall_link,#satisfactory_view,#effectiveness_view,#eou_view,#sat-table,#eff-table,#eou-table").removeProp("disabled");
                $("#fountainTextG").hide();
            });

            //////////////////////////

        $("#overall_link").popover();
        $("#satisfactory_view").popover();
        $("#effectiveness_view").popover();
        $("#eou_view").popover();
        });
    </script>
<% end %>
<div class=row>
<div class="box span10 border-shadow">
   <!-- <span class="miniheader">By Condition</span>-->

 <article class="articlecontent">
   <h1>
     <%= @condition.name %>
   </h1>

   <div class="static_buttons span9">
     <h4>Control Panel</h4>
     <%= render "chart_buttons" %>
   </div>
   <div id="fountainTextG" class="span9">
     <div id="fountainTextG_1" class="fountainTextG">
       G</div>
     <div id="fountainTextG_2" class="fountainTextG">
       e</div>
     <div id="fountainTextG_3" class="fountainTextG">
       n</div>
     <div id="fountainTextG_4" class="fountainTextG">
       e</div>
     <div id="fountainTextG_5" class="fountainTextG">
       r</div>
     <div id="fountainTextG_6" class="fountainTextG">
       a</div>
     <div id="fountainTextG_7" class="fountainTextG">
       t</div>
     <div id="fountainTextG_8" class="fountainTextG">
       i</div>
     <div id="fountainTextG_9" class="fountainTextG">
       n</div>
     <div id="fountainTextG_10" class="fountainTextG">
       g</div>
     <div id="fountainTextG_11" class="fountainTextG">
       &nbsp;
     </div>
     <div id="fountainTextG_12" class="fountainTextG">
       R</div>
     <div id="fountainTextG_13" class="fountainTextG">
       e</div>
     <div id="fountainTextG_14" class="fountainTextG">
       s</div>
     <div id="fountainTextG_15" class="fountainTextG">
       u</div>
     <div id="fountainTextG_16" class="fountainTextG">
       l</div>
     <div id="fountainTextG_17" class="fountainTextG">
       t</div>
     <div id="fountainTextG_18" class="fountainTextG">
       s</div>
     <div id="fountainTextG_19" class="fountainTextG">
       &nbsp;
     </div>
     <div id="fountainTextG_20" class="fountainTextG">
       .</div>
     <div id="fountainTextG_21" class="fountainTextG">
       &nbsp;
     </div>
     <div id="fountainTextG_22" class="fountainTextG">
       .</div>
     <div id="fountainTextG_23" class="fountainTextG">
       &nbsp;
     </div>
     <div id="fountainTextG_24" class="fountainTextG">
       .</div>
   </div>
  <div id="reviews_chart" class="span9">
    <%= render "infographs" %>
  </div>


 </article>
</div>





<div class="box span10 border-shadow">
  <span class="miniheader">Infomation pertaining to <%= @condition.name %></span>
  <article class="articlecontent">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">General Information</a></li>
    <li><a href="#tab2" data-toggle="tab">Related Drugs (<%= @drugs.count%>)</a></li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><%= @condition.information %></p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <b>Drugs related to this condition: </b>
      </p>

      <table class="table table-hover" id="conditions_table">
        <thead>
        <tr>
          <th>Brand</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @drugs.each do |drug|%>
            <tr>
              <td><i class="icon-zoom-in"></i>   <%= drug.brand_name%></td>
              <td><%= link_to "Read", drug_reviews_path(drug.id), :class=>"btn btn-primary" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </article>
</div>
</div>