<p id="notice"><%= notice %></p>

<p>
  <b>Condition name:</b>
  <%= @condition.name %>
</p>

<p>
  <b>Information</b>
  <%= @condition.information %>
</p>




<div id="reviews_chart">

</div>

<div>
<%= render "chart_buttons" %>
</div>

<div id="buttons">
  <%= link_to 'By gender', gender_distinction_condition_path, :id=>'gender_link', remote: true%>


</div>

<p>
  <b>Drugs related to this condition: </b>
</p>

<table class="table table-hover">
  <thead>
  <tr>
  <th>Brand</th>
  <th>Number of reviews</th>
  </tr>
  </thead>
  <tbody>
  <% @drugs.each do |drug|%>
      <tr>
        <td><i class="icon-eye-open"></i>   <%= link_to "#{drug.brand_name}", drug_path(drug.id) %></td>
        <td><%= drug.reviews.count %></td>
      </tr>
  <% end %>
  </tbody>
    </table>
