
<p id="notice"><%= notice %></p>
<% content_for :script do %>

    <script type='text/javascript'>
        $(function () {
            var params=$.url().param('help');
            if(params)  {
                if (params == 'statistics'){
                    $("#satbtngroup").popover('show');
                }
            }
            $(document).bind("ajaxSend", function(){
                  toggleOverlay();
            }).bind("ajaxComplete", function(){
                        toggleOverlay();
                    });
        $("#overall_link").popover();
        $("#satisfactory_view").popover();
        $("#effectiveness_view").popover();
        $("#eou_view").popover();

            $(".bs-docs-sidenav li").live("click", function(){
                $(".bs-docs-sidenav li").removeClass("active");
                $(this).addClass("active");
            });
        });

        function toggleOverlay(){
            var overlay = document.getElementById('overlayid');
            var specialBox = document.getElementById('loadingtext');
//            overlay.style.opacity = .8;
            if(overlay.style.display == "block"){
                overlay.style.display = "none";
                specialBox.style.display = "none";
            } else {
                overlay.style.display = "block";
                specialBox.style.display = "block";
            }
        }
    </script>
<% end %>

<!--<div class=row>-->
<div class="span8">
 <article class="articlecontent">
   <h3 class="static_divider"><%= @condition.name.capitalize %></h3>
   <p><i class="icon-backward"></i> <%= link_to "Back To Condition Index",conditions_path%></p>
   <div id="subheader_holder">
     <h5 class="static_divider">Infograph View</h5>
   </div>
   <div class="static_buttons span8">
     <%= render "chart_buttons" %>
   </div>

  <div id="reviews_chart" class="span8">
    <%= render "infographs" %>
  </div>
 </article>
</div>

<div class="span8">
  <h5 class="static_divider">Information On </h5>
  <div class="row">
    <div id="my-nav" class="span2 bs-docs-sidebar">
      <ul  class="nav nav-pills nav-stacked bs-docs-sidenav affix-top" data-spy="affix" data-offset-top="750">
        <li class="active"><a href="#general">General Information</a></li>
        <li><a href="#symptoms">Symptoms</a></li>
        <li><a href="#causes">Causes</a></li>
        <li><a href="#risk">Risk factors</a></li>
        <li><a href="#complications">Complications</a></li>
        <li><a href="#treatment">Treatment & Medication</a></li>
        <li><a href="#alt_med">Alternative Medication</a></li>
        <li><a href="#lifestyle">Lifestyle</a></li>
        <li><a href="#coping">Coping with the disease</a></li>
        <li><a href="#prevent">Prevention</a></li>
      </ul>
    </div>
    <div class="span5 my-content">
      <section >
        <h4 id="general"class="subheader">General Information <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.information%></p>
      </section>
      <section >
        <h4 id="symptoms" class="subheader">Symptoms<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.symptoms%></p>
      </section>
      <section >
        <h4 id="causes" class="subheader">Causes <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.causes%></p>
      </section>
      <section >
        <h4 id="risk" class="subheader">Risk factors<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.risk_factors%></p>
      </section>
      <section >
        <h4 id="complications" class="subheader">Complications<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.complications%></p>
      </section>
      <section >
        <h4 id="treatment" class="subheader">Treatment & Medication<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.treatment_and_medication%></p>
      </section>
      <section >
        <h4 id="alt_med" class="subheader">Alternative Medication<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.alternative_medication%></p>
      </section>
      <section >
        <h4 id="lifestyle" class="subheader">Lifestyle<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.lifestyle%></p>
      </section>
      <section >
        <h4 id="coping" class="subheader">Coping with the disease<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.coping_with_disease%></p>
      </section>
      <section >
        <h4 id="prevent" class="subheader">Prevention<span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
        <p><%= @condition.prevention%></p>
      </section>

    </div>
  </div>
  <p class="span9"><i class="icon-backward"></i> <%= link_to "Back To Index",conditions_path%> </p>
</div>

<% content_for :side_widget do  %>
    <%= render "side_widget_last_viewed" %>
<% end %>
