<div id="feature-carousel" class="owl-carousel">
  <div> <%= image_tag "graphfeature2.png" %> <h3> <%=t "features.graph_heading" %> </h3><a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=graph" class="ca-more"><%=t "features.graph_caption" %>!</a></div>
  <div> <%= image_tag "statisticsfeature2.png" %> <h3><%=t "features.info_heading" %></h3><a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=infograph_guide" class="ca-more"><%=t "features.info_caption" %></a></div>
  <div> <%= image_tag "infographfeature2.png" %> <h3><%=t "features.compare_heading" %></h3><a href="conditions/<%= @condition.id%>?help=statistics" class="ca-more"><%=t "features.compare_caption" %>!</a></div>
  <div> <%= image_tag "reviewfeature2.png" %> <h3><%=t "features.review_heading" %>?</h3> <a href="/static_pages/review" class="ca-more"><%=t "features.review_caption" %></a></div>
  <div> <%= image_tag "contributefeature2.png" %><h3><%=t "features.read_heading" %></h3> <a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?#reviews" class="ca-more"><%=t "features.read_caption" %></a></div>
  <div> <%= image_tag "tagcloudfeature2.png" %> <h3><%=t "features.word_cloud_heading" %></h3><a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=graph" class="ca-more"><%=t "features.word_cloud_caption" %>!</a></div>

</div>
