<div id="feature-carousel" class="owl-carousel">
  <div> <%= image_tag "graphfeature2.png" %> <h3>Figure it out</h3><a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=graph" class="ca-more">Try our graphical tools!</a></div>
  <div> <%= image_tag "statisticsfeature2.png" %> <h3>Visualise</h3><a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=infograph_guide" class="ca-more">See Infographics</a></div>
  <div> <%= image_tag "infographfeature2.png" %> <h3>Compare drugs</h3><a href="conditions/<%= @condition.id%>?help=statistics" class="ca-more">Compare now!</a></div>
  <div> <%= image_tag "reviewfeature2.png" %> <h3>Some thing to share?</h3> <a href="/static_pages/review" class="ca-more">Write review</a></div>
  <div> <%= image_tag "contributefeature2.png" %><h3>Read & Learn</h3> <a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?#reviews" class="ca-more">Read up a drug</a></div>
  <div> <%= image_tag "tagcloudfeature2.png" %> <h3>Discover prominent words</h3><a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=graph" class="ca-more">Try it!</a></div>

</div>
