<article class="span11 side_widget">
  <section>
  <h5 class="static_divider">We Also Recommend</h5>
  </section>
  <section class="widget_thumbnails">
    <div><%= image_tag("3_PayToPrescribe_thumb.bmp") %><a href="http://www.naturalnews.com/030111_drug_companies_illegal.html#ixzz2a2K4jjer" >More drug companies exposed for paying off doctors to prescribe drugs. </a></div>
  </section>
  <section class="widget_thumbnails">
    <div><%= image_tag("7_ApprovalAloneNotEnough1_thumb.JPG") %><a href="#" >Approving a drug may not be sufficent.</a></div>
  </section>
  <section class="widget_thumbnails">
    <div><%= image_tag("over_the_counter.jpg") %><a href="http://www.fda.gov/Drugs/EmergencyPreparedness/BioterrorismandDrugPreparedness/ucm134010.htm" >What Are Generic Drugs? - Facts you should know.</a></div>
  </section>
  <section class="widget_thumbnails">
    <div><%= image_tag("drugposter.jpg") %><a href="http://www.forbes.com/sites/jonentine/2012/07/23/fda-balances-costs-patient-safety-in-the-biologics-and-personalized-medicine-revolution-will-it-get-it-right-or-damage-the-miracle-industry/" >
      Are You Getting the Most? - Personalized Medicine Revolution.</a></div>
  </section>
</article>

<article class="span11 side_widget">
  <!--<h4 class="static_divider">Popular Searches</h4>-->
  <section><h5 class="static_divider">Day To Day Health</h5></section>
  <ul class="nav nav-list">
    <% @day2day_condition.each do |entry| %>
        <li ><%= display_hits entry %></li>
    <% end %>
  </ul>
</article>
<article class="span11 side_widget">
  <section><h5 class="static_divider">Common Health Conditions</h5> </section>
  <ul class="nav nav-list">
    <% @common.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
  </ul>
</article>
<article class="span11 side_widget">
  <section><h5 class="static_divider">Elderly Related Conditions</h5> </section>
  <ul class="nav nav-list">
    <% @elderly_condition.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
  </ul>
</article>

<article class="span11 side_widget">
  <section><h5 class="static_divider">Kids Related Conditions</h5> </section>
  <ul class="nav nav-list">
    <% @kids_condition.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
  </ul>
</article>

<article class="span11 side_widget">
  <section><h5 class="static_divider">Mental Conditions</h5> </section>
  <ul class="nav nav-list">
    <% @mental_condition.each do |entry| %>
        <li><%= display_hits entry %></li>
    <% end %>
  </ul>
</article>

