

  <!--<div class="span12">-->

    <!--<div class="row-fluid">-->
      <article id="myCarousel" class="carousel slide span12" data-interval="7500">
        <section><h3 class="static_divider">Featured Story</h3></section>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item"><%= link_to image_tag("1_B4PurchasingMedOnline1.png", alt: "Rails"), 'http://www.fda.gov/Drugs/ResourcesForYou/ucm080588.htm' %>
            <div class="carousel-caption">
              <h4>Need-to-know before purchasing medicine online</h4>
              <p>Buying Prescription Medicine Online: A Consumer Safety Guide. <%= link_to "Read More", 'http://www.fda.gov/Drugs/ResourcesForYou/ucm080588.htm' %></p>
            </div>
          </div>
          <div class="item"><%= link_to image_tag("2_Generics_2.png", alt: "Rails"), 'http://www.foxbusiness.com/personal-finance/2011/04/20/brand-vs-generic-drugs/' %>
            <div class="carousel-caption">
              <h4>Generics vs Brands?</h4>
              <p>How do they compare? Are generics the best choice? . <%= link_to "Read More", 'http://www.foxbusiness.com/personal-finance/2011/04/20/brand-vs-generic-drugs/' %></p>
            </div>
          </div>
          <div class="item"><%= link_to image_tag("4_BuyOwnMed_Photo-DreamPicturesGettyImages.png", alt: "Rails"), 'http://www.foxnews.com/health/2013/07/23/some-parents-opting-for-pharmacies-not-doctors/#ixzz2a2f0SUqE' %>
            <div class="carousel-caption">
              <h4>What are the risks of buying your own medication? </h4>
              <p>Parents are visiting retail clinics instead of doctors. Are there any risks involved? What should you pay attention to? <%= link_to "Read More", 'http://www.foxnews.com/health/2013/07/23/some-parents-opting-for-pharmacies-not-doctors/#ixzz2a2f0SUqE' %></p>
            </div>
          </div>
          <div class="item"><%= link_to image_tag("5_IsItSafeToBuyMedOnlie.png", alt: "Rails"), 'http://nakedsecurity.sophos.com/2013/07/01/fda-shutters-1677-illegal-online-pharmacies/' %>
            <div class="carousel-caption">
              <h4>Is it safe to purchase medication online?  </h4>
              <p>FDA closes illegal online pharmacies. How safe is it for consumer considering online purchases? <%= link_to "Read More", 'http://nakedsecurity.sophos.com/2013/07/01/fda-shutters-1677-illegal-online-pharmacies/' %></p>
            </div>
          </div>
          <div class="item active"><%= link_to image_tag("0_isItRightDrugForME_j_mills.png", alt: "Rails"), 'http://www.fda.gov/Drugs/ResourcesForYou/Consumers/BuyingUsingMedicineSafely/UnderstandingOver-the-CounterMedicines/Choosingtherightover-the-countermedicineOTCs/ucm150299.htm' %>
            <div class="carousel-caption">
              <h4>Is this the right drug for me?</h4>
              <p>Get more information on Over-the-Counter Medicines before purchasing them. <%= link_to "Read More", 'http://www.fda.gov/Drugs/ResourcesForYou/Consumers/BuyingUsingMedicineSafely/UnderstandingOver-the-CounterMedicines/Choosingtherightover-the-countermedicineOTCs/ucm150299.htm' %></p>
            </div>
          </div>

        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </article>
    <!--</div>-->

<article class="span12">
    <section><h3 class="static_divider">Features</h3></section>
    <section class="row-fluid">

        <div class="feature_divs span5">
          <a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=graph">
        <%= image_tag "piechart_feature2.png" %>
        <h3>Graphs</h3>
          <h6>Top Rated Drugs</h6>
          </a>
        </div>

      <div class="feature_divs span5">
        <a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?help=infograph_guide">
        <%= image_tag "infograph_feature.png" %>
          <h3>Infographics</h3>
        <h6>Learn About Your Medication</h6>
        </a>
      </div>
      <div class="feature_divs span5">
        <a href="conditions/<%= @condition.id%>?help=statistics">
        <%= image_tag "compare_multi_drug_feature.png" %>
          <h3>Statistics</h3>
        <h6>Compare Drugs by Diseases</h6>
            </a>
      </div>

      <div class="feature_divs span5">
        <a href="drugs/<%= @commondrugs.last.drug_id%>/reviews?#reviews">
        <%= image_tag "other_review_source_feature.png" %>
          <h3>Read Reviews</h3>
        <h6>See What Others Are Saying</h6>
        </a>

      </div>
      <div class="feature_divs span5">

        <%= image_tag "review_feature.png" %>
        <h3>Contribute</h3>
        <h6> Help Us Help You!</h6>

      </div>

      <!--<div class="clearfix span12"></div>-->
    </section>
</article>

    <article class="span12 side_widget">
      <section><h5 class="static_divider">Popular Drugs</h5></section>
      <div class="row-fluid">
        <% if @commondrugs.present? %>
            <div class=" span4">
              <ul class="unstyled">
                <% @commondrugs[0..@sizefirsthalf].each do |drug|%>
                    <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%></li>
                <%end%>
              </ul>
            </div>
            <div class=" span4">
              <ul class="unstyled">
                <% @commondrugs[@sizefirsthalf +1 ..@sizesecondhalf].each do |drug|%>
                    <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%></li>
                <% end %>
              </ul>
            </div>
            <div class=" span4">
              <ul class="unstyled">
                <% @commondrugs[@sizesecondhalf +1 ..@size].each do |drug|%>
                    <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

    </article>

  <!--</div>-->


