<% content_for :script do %>
    <script type='text/javascript' xmlns="http://www.w3.org/1999/html">

        $(function () {
            $("#feature1").tooltip();
            $("#feature2").tooltip();
            $("#feature3").tooltip();
        });
    </script>
<% end %>


<div id="logo" class="span12">
  <%= image_tag("logosample4.png") %>
</div>
<div id="banner_black" class="span12 well">
  <h2>Make an informed choice. Join the community, choose your medication wisely.</h2>

</div>
<div class="row-fluid">
  <div class="span9">
    <h4 class="static_divider">Features</h4>
    <div class="row-fluid">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <div class="caption">
              <%= image_tag ("conditionfeature.jpg") %>
              <p><%= link_to 'Compare By Conditions', conditions_path, :id=>"feature1", "data-toggle"=>"tooltip", :title=>"Which is the most suitable drug for you? Find out more with statistics we constructed from other drug users" %></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="caption">
              <%= image_tag ("drugfeature.jpg") %>
              <p><%= link_to 'Look up a drug', drugs_path, :id=>"feature2", "data-toggle"=>"tooltip", :title=>"See how the community rates a drug, read up side effects and precaution." %></p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="caption">
              <%= image_tag ("reviewfeature.jpg") %>
              <p><%= link_to 'Write a Review', drugs_path, :id=>"feature3", "data-toggle"=>"tooltip", :title=>"Return to the community. Share your experience with a drug" %></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <h4 class="static_divider">Latest News</h4>
    <div class="row-fluid">
    <div id="myCarousel" class="carousel slide span12" data-interval="false">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= link_to image_tag("sample2Bannertext2.png", alt: "Rails") %>

        </div>
        <div class="item"><%= link_to image_tag("sample1Bannertext2.png", alt: "Rails") %>

        </div>
        <div class="item"><%= link_to image_tag("drugposter2.jpg", alt: "Rails"), 'http://www.forbes.com/sites/jonentine/2012/07/23/fda-balances-costs-patient-safety-in-the-biologics-and-personalized-medicine-revolution-will-it-get-it-right-or-damage-the-miracle-industry/' %>
          <div class="carousel-caption">
            <h4>Are You Getting the Most?</h4>
            <p>FDA Balances Costs, Patient Safety in the Biologics and Personalized Medicine Revolution. <%= link_to "Read More", 'http://www.forbes.com/sites/jonentine/2012/07/23/fda-balances-costs-patient-safety-in-the-biologics-and-personalized-medicine-revolution-will-it-get-it-right-or-damage-the-miracle-industry/' %></p>
          </div>
        </div>
        <div class="item"><%= link_to image_tag("fda.jpg", alt: "Rails"), 'http://www.fda.gov/Drugs/ResourcesForYou/Consumers/BuyingUsingMedicineSafely/UnderstandingOver-the-CounterMedicines/Choosingtherightover-the-countermedicineOTCs/ucm150299.htm' %>
          <div class="carousel-caption">
            <h4>Is this the right drug for me?</h4>
            <p>Get more information on Over-the-Counter Medicines before purchasing them. <%= link_to "Read More", 'http://www.fda.gov/Drugs/ResourcesForYou/Consumers/BuyingUsingMedicineSafely/UnderstandingOver-the-CounterMedicines/Choosingtherightover-the-countermedicineOTCs/ucm150299.htm' %></p>
          </div>
        </div>
        <div class="active item"><%= link_to image_tag("over_the_counter2.jpg", alt: "Rails"), 'http://www.fda.gov/Drugs/EmergencyPreparedness/BioterrorismandDrugPreparedness/ucm134010.htm' %>
          <div class="carousel-caption">
            <h4>What Are Generic Drugs?</h4>
            <p>Facts about generic drugs that you should know. <%= link_to "Read More", 'http://www.fda.gov/Drugs/EmergencyPreparedness/BioterrorismandDrugPreparedness/ucm134010.htm' %></p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    </div>
  </div>
  <div class="span3">
    <h4 class="static_divider">Top Picks</h4>
    <ul class="nav nav-list">
      <li class="nav-header">Most Common</li>
      <li><a href="#">drug a</a></li>
      <li><a href="#">drug b</a></li>
      <li class="nav-header">Most Reviewed</li>
      <li><a href="#">drug c</a></li>
      <li><a href="#">drug d</a></li>
    </ul>
  </div>
</div>

