<% content_for :script do %>
    <script type='text/javascript' xmlns="http://www.w3.org/1999/html">

//        $(function () {
//            $("#feature1").tooltip();
//            $("#feature2").tooltip();
//            $("#feature3").tooltip();
//        });
    </script>
<% end %>


<!--<div id="logo" class="span12">-->
 <!--<%= image_tag("logosample4.png") %>-->
<!--</div>-->

  <!--<div class="span12">-->

    <!--<div class="row-fluid">-->
      <article id="myCarousel" class="carousel slide span12" data-interval="7500">
        <section><h3 class="static_divider">Featured Story</h3></section>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item"><%= link_to image_tag("drugposter2.jpg", alt: "Rails"), 'http://www.forbes.com/sites/jonentine/2012/07/23/fda-balances-costs-patient-safety-in-the-biologics-and-personalized-medicine-revolution-will-it-get-it-right-or-damage-the-miracle-industry/' %>
            <div class="carousel-caption">
              <h4>Are You Getting the Most?</h4>
              <p>FDA Balances Costs, Patient Safety in the Biologics and Personalized Medicine Revolution. <%= link_to "Read More", 'http://www.forbes.com/sites/jonentine/2012/07/23/fda-balances-costs-patient-safety-in-the-biologics-and-personalized-medicine-revolution-will-it-get-it-right-or-damage-the-miracle-industry/' %></p>
            </div>
          </div>
          <div class="item"><%= link_to image_tag("fda.jpg", alt: "Rails"), 'http://www.fda.gov/Drugs/ResourcesForYou/Consumers/BuyingUsingMedicineSafely/UnderstandingOver-the-CounterMedicines/Choosingtherightover-the-countermedicineOTCs/ucm150299.htm' %>
            <div class="carousel-caption">
              <h4>Is this the right drug for me?</h4>
              <p>Get more information on Over-the-Counter Medicines before purchasing them. <%= link_to "Read More", 'http://www.fda.gov/Drugs/ResourcesForYou/Consumers/BuyingUsingMedicineSafely/UnderstandingOver-the-CounterMedicines/Choosingtherightover-the-countermedicineOTCs/ucm150299.htm' %></p>
            </div>
          </div>
          <div class="active item"><%= link_to image_tag("over_the_counter2.jpg", alt: "Rails"), 'http://www.fda.gov/Drugs/EmergencyPreparedness/BioterrorismandDrugPreparedness/ucm134010.htm' %>
            <div class="carousel-caption">
              <h4>What Are Generic Drugs?</h4>
              <p>Facts about generic drugs that you should know. <%= link_to "Read More", 'http://www.fda.gov/Drugs/EmergencyPreparedness/BioterrorismandDrugPreparedness/ucm134010.htm' %></p>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </article>
    <!--</div>-->

<article class="span12">
    <section><h3 class="static_divider">Features</h3></section>
    <section class="row-fluid">
      <div class="feature_divs span5">
        <%= image_tag "piechart_feature2.png" %>
        <h6><span class="label label-warning">Graphs</span> : Drug Performance Graphs Derived From User Reviews</h6>
      </div>
      <div class="feature_divs span5">
        <%= image_tag "infograph_feature.png" %>
        <h6><span class="label label-warning">Infographics</span> : Infographics To Give You Better Insights On The Drug</h6>
      </div>
      <div class="feature_divs span5">
        <%= image_tag "compare_multi_drug_feature.png" %>
        <h6><span class="label label-warning">Statistics</span> : Statistics Comparing Drugs Used To Treat Day To Day Conditions</h6>
      </div>
      <div class="feature_divs span5">
        <%= image_tag "other_review_source_feature.png" %>
        <h6><span class="label label-warning">Read Reviews</span> : Read Reviews From Multiple Sources</h6>
      </div>
      <div class="feature_divs span5">
        <%= image_tag "review_feature.png" %>
        <h6><span class="label label-warning">Contribute</span> : Contribute To The Health Community. Share Your Experience!</h6>
      </div>
      <div class="feature_divs span5">
        <%= image_tag "piechart_feature.png" %>
        <h6><span class="label label-warning">Lorem</span> : Lorem ipsum dolor sit amet, consectetur adipisicing elit</h6>
      </div>
      <!--<div class="clearfix span12"></div>-->
    </section>
</article>

    <article class="span12 side_widget">
      <section><h5 class="static_divider">Popular Drugs</h5></section>
      <div class="row-fluid">
        <% if @commondrugs.present? %>
            <div class=" span4">
              <ul class="unstyled">
                <% @commondrugs[0..@sizefirsthalf].each do |drug|%>
                    <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%></li>
                <%end%>
              </ul>
            </div>
            <div class=" span4">
              <ul class="unstyled">
                <% @commondrugs[@sizefirsthalf +1 ..@sizesecondhalf].each do |drug|%>
                    <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%></li>
                <% end %>
              </ul>
            </div>
            <div class=" span4">
              <ul class="unstyled">
                <% @commondrugs[@sizesecondhalf +1 ..@size].each do |drug|%>
                    <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

    </article>

  <!--</div>-->


