<p id="notice"><%= notice %></p>

<p>
  <b>Condition:</b>
  <%= @conditioninfograph.condition_id %>
</p>

<p>
  <b>Most reviewed:</b>
  <%= @conditioninfograph.most_reviewed %>
</p>

<p>
  <b>Cheapest:</b>
  <%= @conditioninfograph.cheapest %>
</p>

<p>
  <b>Most satisfied:</b>
  <%= @conditioninfograph.most_satisfied %>
</p>

<p>
  <b>Most kids using:</b>
  <%= @conditioninfograph.most_kids_using %>
</p>

<p>
  <b>Total reviews:</b>
  <%= @conditioninfograph.total_reviews %>
</p>

<p>
  <b>Top side effect:</b>
  <%= @conditioninfograph.top_side_effect %>
</p>

<p>
  <b>Most easy to use:</b>
  <%= @conditioninfograph.most_easy_to_use %>
</p>

<p>
  <b>Most effective:</b>
  <%= @conditioninfograph.most_effective %>
</p>

<p>
  <b>Overall winner:</b>
  <%= @conditioninfograph.overall_winner %>
</p>


<%= link_to 'Edit', edit_conditioninfograph_path(@conditioninfograph) %> |
<%= link_to 'Back', conditioninfographs_path %>
