<h1>Here's what we found for "<%= params[:search] %>"</h1>
<h3>Under Drugs</h3>
<% if ! @drugresults.blank? %>
<%	 @drugresults.each do |result| %>
          <p><b><%= link_to "#{result.brand_name}", drug_reviews_path(result.id)%></b></p>
      <% end %>
    <% else %>
    <p>No match found</p>
    <%end%>

<h3>Under Conditions</h3>
<% if ! @conditionresults.blank? %>
<%	 @conditionresults.each do |result| %>
    <p><b><%= link_to "#{result.name}", condition_path(result.id)%></b></p>
    <% end %>
    <% else %>
    <p>No match found</p>
<% end %>

<h3>"<%= params[:search] %>" found in user reviews</h3>
<% @reviewresults.each do |result| %>
    <p>Drug: <b><%= link_to "#{ Drug.find(result.drug_id).brand_name}", drug_reviews_path(result.drug_id)%></b></p>

    <div class="review_object">
      <div class="comments">
        <blockquote class="pull-right"><%=result.comments %>
          <small>
            <%= result.user.username %>
          </small>
        </blockquote>
      </div>

      <ul class="inline">
        <li>Effectiveness <div class="rating_bar">
          <div style="width:<%= (result.effectiveness/5)*100 %>%"></div>
        </div>
        </li>
        <li>Ease of Use <div class="rating_bar">
          <div style="width:<%= (result.ease_of_use/5)*100%>%"></div>
        </div></li>
        <li>Satisfactory <div class="rating_bar">
          <div style="width:<%= (result.satisfactory/5)*100%>%"></div>
        </div></li>
      </ul>
      <br />

      <div class="dateandoptions">
        <span>Posted <%= time_ago_in_words(result.created_at)%> ago  </span>
        <% if result.user.caregiver %>
            <span><i id="caregivericon"></i>Caregiver</span>
        <%else%>
            <span><i class="icon-user icon-white"></i>Patient</span>
        <%end%>

        <% if result.user.gender == "Male" %>
            <span><i id="maleicon"></i>Male</span>
        <% elsif result.user.gender == "Female" %>
            <span><i class="icon-girl"></i>Female</span>
        <%else%>
            <span><i id="unknownicon"></i>Not Specified</span>

        <%end%>

        <span>Age: <%= result.user.age %></span>
      </div>
    </div> <br />

    <% end %>


