<h1>Search Result for <%= params[:search] %></h1>
<h3>Found in Drugs</h3>
<%	 @drugresults.each do |result| %>
          <p><b><%= link_to "#{result.brand_name}", drug_reviews_path(result.id)%></b></p>
      <% end %>

<h3>Found in Conditions</h3>
<%	 @conditionresults.each do |result| %>
    <p><b><%= link_to "#{result.name}", condition_path(result.id)%></b></p>
<% end %>

<h3>Found in User Reviews</h3>
<% @reviewresults.each do |result| %>
    <p>Under drug: <b><%= link_to "#{ Drug.find(result.drug_id).brand_name}", drug_reviews_path(result.drug_id)%></b></p>
    <p><%= result.comments %></p>
    <% end %>


