<div class="control_panel">
<% if @for_counts <= 0 %>
    <%= link_to 'Infograph', drug_reviews_path(@drug.id,:button=>"infograph"), :id=>'infograph', remote: true, :class =>"btn btn-success", "data-trigger"=>"hover","data-content"=> "Get a feel of how well this drug performs", "data-original-title"=>"Infographics on this drug","data-placement"=>"bottom"%>
    <%= link_to 'Word cloud', "#", :id=>'tag_cloud_link', remote: true, :class =>"btn btn-success disabled", "data-trigger"=>"hover","data-content"=> "Most frequent list of words. Click on the word to view reviews", "data-original-title"=>"Frequent Word Cloud","data-placement"=>"bottom"%>
    <%= link_to 'Satisfaction', "#", :id=>'satisfylink', remote: true, :class =>"btn btn-success disabled", "data-trigger"=>"hover","data-content"=> "View the score of this drug in terms of user satisfaction", "data-original-title"=>"By Satisfactory","data-placement"=>"bottom"%>
    <%= link_to 'Effectiveness', "#", :id=>'effectlink', remote: true, :class =>"btn btn-success disabled", "data-trigger"=>"hover","data-content"=> "View the score of this drug in terms of effectiveness", "data-original-title"=>"By Effectiveness","data-placement"=>"bottom"%>
    <%= link_to 'Ease of Use', "#", :id=>'eoulink', remote: true, :class =>"btn btn-success disabled", "data-trigger"=>"hover","data-content"=> "View the score of this drug in terms of ease of use", "data-original-title"=>"By Ease of Use","data-placement"=>"bottom"%>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Review This Drug</a>
    <p class="notification"><span class="label label-warning">Notice!</span> Buttons above were greyed out due to lack of reviews to generate the statistics. Help us by <a href="#myModal" role="button" class="btn btn-link" data-toggle="modal">writing a review now</a>.</p>
<% else %>
<%= link_to 'Infograph', drug_reviews_path(@drug.id,:button=>"infograph"), :id=>'infograph', remote: true, :class =>"btn btn-success", "data-trigger"=>"hover","data-content"=> "Get a feel of how well this drug performs", "data-original-title"=>"Infographics on this drug","data-placement"=>"bottom"%>
<%= link_to 'Word cloud', drug_reviews_path(@drug.id,:button=>"tag_cloud_link"), :id=>'tag_cloud_link', remote: true, :class =>"btn btn-success", "data-trigger"=>"hover","data-content"=> "Most frequent list of words. Click on the word to view reviews", "data-original-title"=>"Frequent Word Cloud","data-placement"=>"bottom"%>
<%= link_to 'Satisfaction', drug_reviews_path(@drug.id,:button=>"satisfylink"), :id=>'satisfylink', remote: true, :class =>"btn btn-success", "data-trigger"=>"hover","data-content"=> "View the score of this drug in terms of user satisfaction", "data-original-title"=>"By Satisfactory","data-placement"=>"bottom"%>
<%= link_to 'Effectiveness', drug_reviews_path(@drug.id,:button=>"effectlink"), :id=>'effectlink', remote: true, :class =>"btn btn-success", "data-trigger"=>"hover","data-content"=> "View the score of this drug in terms of effectiveness", "data-original-title"=>"By Effectiveness","data-placement"=>"bottom"%>
<%= link_to 'Ease of Use', drug_reviews_path(@drug.id,:button=>"eoulink"), :id=>'eoulink', remote: true, :class =>"btn btn-success", "data-trigger"=>"hover","data-content"=> "View the score of this drug in terms of ease of use", "data-original-title"=>"By Ease of Use","data-placement"=>"bottom"%>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Review This Drug</a>
    <p class="notification"><span class="label label-info">Heads up!</span> The buttons above controls the plot view. Click on them to see various statistics of this drug!</p>
<% end%>
</div>