<%= form_for @drug,:url=> drug_reviews_path(@drug.id,:button=>"effectlink"),:method => "get", :remote=>true do |f| %>
    <legend>Restrict By:
    <span><button type="submit" class="btn" href="#" :button="effectlink"><i class="icon-share-alt"></i> Reset</button></span>
    </legend>
    <%= hidden_field_tag 'conditions', 'true' %>

    <%= hidden_field_tag 'type', 'all', :id=>"viewtype"%>
    <%= label_tag(:gender, "Gender") %>
    <ul>
      <%= radio_button_tag(:gender,"Male") %> Male |
      <%= radio_button_tag(:gender,"Female") %> Female
    </ul>

    <%= label_tag(:age, "Age Range") %>
    <ul>
      <%= radio_button_tag(:age,"3-6") %>3-6 |
      <%= radio_button_tag(:age,"7-12") %>7-12 |
    </ul>
    <ul>
      <%= radio_button_tag(:age,"13-18") %>13-18 |
      <%= radio_button_tag(:age,"19-24") %>19-24 |
    </ul>
    <ul>
      <%= radio_button_tag(:age,"25-34") %>25-34 |
      <%= radio_button_tag(:age,"35-44") %>35-44 |
    </ul>
    <ul>
      <%= radio_button_tag(:age,"45-54") %>45-54 |
      <%= radio_button_tag(:age,"55-64") %>55-64 |
    </ul>
    <ul>
      <%= radio_button_tag(:age,"65-74") %>65-74 |
      <%= radio_button_tag(:age,"75 or over") %>75 or over
    </ul>


    <button type="submit" class="btn btn-primary loading_btn"><i class="icon-refresh icon-white"></i> Reload Chart</button>
<%  end%>