
<div id="myCarousel" class="carousel slide" data-interval="150000" xmlns="http://www.w3.org/1999/html">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div id="avg_sat_infograph">
        <%= image_tag("average-satisfaction_white.png") %>
        <h3>Overall<br><span class="focus3">Satisfaction</span></h3>
       <p> <%	 if @infograph.avg_sat_male < 0  %>
            <span id="maleleft"><span class="focus3">-</span> / 5</span>
            <%	 else %>
            <span id="maleleft"><span class="focus3"><%= @infograph.avg_sat_male.round(2)%></span> / 5</span>
            <%	 end %>
            <%	 if @infograph.avg_sat_female < 0  %>
            <span id="femaleright"><span class="focus3">-</span> / 5</span>
            <%	 else %>
            <span id="femaleright"><span class="focus3"><%= @infograph.avg_sat_female.round(2)%></span> / 5</span>
            <%end%>
       </p>
      </div>
    </div>
    <div class="item">
      <div id="freq_words_infograph">
        <%= image_tag("frequentwordsbackground.png") %>
        <ul>
          <%	 if @topwords.nil? %>
              <li><span class="focus3">Word frequency statistics not available for this drug</span></li>
              <%	 else %>
          <li>&ldquo;<%= @topwords.shift %>&ldquo;</li>
          <li>&ldquo;<%= @topwords.shift %>&ldquo;</li>
          <li>&ldquo;<%= @topwords.shift %>&rdquo;</li>
              <%	 end %>
        </ul>

      </div>
    </div>
    <div class="item">
      <div id="age_breakdown_infograph">
        <%= image_tag("age_breakdown.png") %>
        <h3>Overall<br>Reviewers <br> <span class="focus2">Age profile</span></h3>
          <p id="child"><%= @infograph.age_less_18.round(1) %></p>
          <p id="adult"><%= @infograph.age_btw_18_50.round(1) %></p>
          <p id="senior"><%= @infograph.age_more_50.round(1) %></p>
      </div>
    </div>
    <div class="item">
      <div id="gender_breakdown_infograph">
        <div class="human_bar1">
          <div style="width:<%= (@infograph.effective_over_3.round)*10 %>%"></div>
          <h3><span class="focus2"><%= (@infograph.effective_over_3.round) %></span>
          in
          <span class="focus3">10</span>
          <br>
          reviewers found this
          <br>
          drug
          <span class="focus5">effective</span>
          </h3>
        </div>

        <div class="human_bar2">
          <div style="width:<%= @ineffective*10 %>%"></div>
          <h3><span class="focus2"><%= @ineffective%></span>
          in
          <span class="focus3">10</span>
          <br>
          reviewers found this
          <br>
          drug
          <span class="focus5">ineffective</span>
          </h3>
        </div>


      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>