<div id="paginator">
  <%= paginate @reviews %>
</div>

  <% @reviews.each do |review| %>
    <span class="dateandoptions">
    Posted <%=time_ago_in_words(review.created_at)%> ago<br />
      <%= link_to 'Delete', review, :method => :delete, :class => "delete", :remote => true  %>
  </span>
    <p><b><%= review.user.username %></b> wrote:</p>
    <br />
    <%= content_tag(:p, review.comments, :class => "comment-body") %>
  <% end %>
