<% content_for :script do %>
    <script type='text/javascript'>
        $(function () {
            $('#paginator nav span a').live('click', function () {
                $.getScript(this.href);
                return false;
            });
            $('#write_review').bind('click',function(){
                if ($("#new_review").hasClass("hide"))
                {
                $("#new_review").removeClass("hide");
                }
                else
                {
                    $("#new_review").addClass("hide");
                }

                console.log("this is the click");
            });
        });
    </script>
<% end %>



<p>
  <b>Generic name:</b>
  <%= @drug.generic_name %>
</p>

<p>
  <b>Brand name:</b>
  <%= @drug.brand_name %>
</p>

<p>
  <b>Side effect:</b>
  <%= @drug.side_effect %>
</p>

<p>
  <b>Dosage:</b>
  <%= @drug.dosage %>
</p>

<p>
  <b>Precaution:</b>
  <%= @drug.precaution %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @drug.manufacturer %>
</p>


<%= render "review_ratings"%>
<div id="chart_container">
  <div id="reviews_chart">
  </div>
  <div id="conditions">
  </div>
</div>

<div id="static_buttons">
  <%= render "chart_buttons" %>
</div>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>

<p>
  <button id="write_review" class="btn btn-primary" type="button">Write Review</button>
</p>


<%= form_for ([@drug,@review]),:remote=>true,:html => {:class => "hide"} do |f| %>

    <%= f.error_messages %>

    <%= fields_for @user do |user_detail_form| %>

        Enter A Name: <%= user_detail_form.text_field :username %><br />

        Email Address: <%= user_detail_form.text_field :email_address %><br />

        Age:  <%= user_detail_form.select :age, options_for_select([["3-6","3-6"],["7-12","7-12"],["13-18","13-18"],["19-24","19-24"],["25-34","25-34"],["35-44","35-44"],["45-54","45-54"],["55-64","55-64"],["65-74","65-74"],["75 or over","75 or over"]]) %><br />

        Gender: <%= user_detail_form.select :gender, options_for_select([["Male","Male"],["Female","Female"]]) %> <br />

        Ethnicity: <%= user_detail_form.text_field :ethnicity %><br />

        Weight: <%= user_detail_form.text_field :weight %>Kg<br />
    <% end %>
    <%= f.label :comments, "Review" %>
    <%= f.text_area :comments, :size=> "44x6" %><br />
    <div class="field">
      <%= f.label :effectiveness %>
      <%= f.radio_button :effectiveness, "1" %> 1 |
      <%= f.radio_button :effectiveness, "2" %> 2 |
      <%= f.radio_button :effectiveness, "3" %> 3 |
      <%= f.radio_button :effectiveness, "4" %> 4 |
      <%= f.radio_button :effectiveness, "5" %> 5
    </div>
    <div class="field">
      <%= f.label :ease_of_use %>
      <%= f.radio_button :ease_of_use, "1" %> 1 |
      <%= f.radio_button :ease_of_use, "2" %> 2 |
      <%= f.radio_button :ease_of_use, "3" %> 3 |
      <%= f.radio_button :ease_of_use, "4" %> 4 |
      <%= f.radio_button :ease_of_use, "5" %> 5
    </div>
    <div class="field">
      <%= f.label :satisfactory %>
      <%= f.radio_button :satisfactory, "1" %> 1 |
      <%= f.radio_button :satisfactory, "2" %> 2 |
      <%= f.radio_button :satisfactory, "3" %> 3 |
      <%= f.radio_button :satisfactory, "4" %> 4 |
      <%= f.radio_button :satisfactory, "5" %> 5
    </div>

    <div class="field">
      <%= f.label "Choose the duration that best match your usage" %><br />
      <%= f.select :usage_duration_days, options_for_select([["< than a day",1],["<a week",7],["<a month",30],["<a year",365]]) %>
    </div>

    <%= hidden_field_tag :drug_id, @drug.id%>
    <div id="error_explanation" class="hide"></div>
    <div class="actions">
      <%= f.submit "Add comment" ,:class=>"btn btn-primary"%>
    </div>

<% end %>

<span id="reviews_count"><%= pluralize(@for_counts, "reviews") %></span>
<div id="reviews_section">
  <%= render "reviews", :locals => { :list => true } %>
</div>




