function jqGetWidth(){
    var width_value = $(window).width();
    return width_value;
};
var width =$(document).ready(jqGetWidth);
var width =$(window).resize(jqGetWidth);
$('#reviews_section').html('<%= escape_javascript render("reviews") %>');

<% if params[:button]=="tag_cloud_link"%>
    //width=jqGetWidth(); //get the width
    $("#reviews_chart").empty();
$('#drug_review_side').empty();
    $("#word_cloud_chart").empty().height(0);
    $("#subheader_holder").html('<h5 class="static_divider">Word Cloud</h5>');
    $("#word_cloud_chart").show();
   console.log(width);
    if(width <= 480){
        $("#word_cloud_chart").jQCloud(word_array, {
            delayedMode: true,width: 250,height: 200
        });
    }else if(width >481 && width <=767){
        $("#word_cloud_chart").jQCloud(word_array, {
            delayedMode: true,width: 250,height: 200
        });
    }else if (width >768 && width <=979) {
        $("#word_cloud_chart").jQCloud(word_array, {
            delayedMode: true,width: 670,height: 400
        });
    }else{
        $("#word_cloud_chart").jQCloud(word_array, {
            delayedMode: true,width: 670,height: 400
        });
    }

<%end%>

<% if params[:button]=="infograph"%>
$("#reviews_chart").empty();
$('#drug_review_side').empty();
$("#word_cloud_chart").empty().height(0);
//$("#conditions").hide(300);
$("#subheader_holder").html('<h5 class="static_divider">Infograph View</h5>');
$("#reviews_chart").html('<%= escape_javascript render("infographs") %>');
<%end%>

<% if params[:button]=="satisfylink"%>
$("#reviews_chart").empty();
$("#word_cloud_chart").empty().height(0);
$("#subheader_holder").html('<h5 class="static_divider">Plot View</h5>');
$(function () {
    $("#reviews_chart").empty();
    var chart;
    $(document).ready(function() {
        Highcharts.setOptions({
            colors: <%=raw @generate_colors%>
        });
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'reviews_chart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Reviewers satisfaction towards <%= @drug.brand_name%>'
            },
            labels:{
                items: [
                    {
                        html: "<b>Restrictions:</b> <%= @label%>",
                        style: {
                            left: '0px',
                            top: '0px'
                        }
                    }
                ]
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#313131',
                        connectorColor: '#adadad',
                        distance: 20,
                        formatter: function() {
                            return this.point.y +' reviewers'+'<br>gave <b>'+ this.point.name +'</b>';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Percentage of reviews',
                point: {
                    events: {
                        click: function(e) {
                            window.open(
                                    e.point.url,'_blank' // <- This is what makes it open in a new window.
                            );
                            e.preventDefault();
                        }
                    }
                },
                data: [
                    {
                        name: '1/5',
                        y: <%=raw @update_values[@drug.brand_name][0] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?satisfactory=1&<%= @urlendcoded %>"
                    },
                    {
                        name: '2/5',
                        y: <%=raw @update_values[@drug.brand_name][1] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?satisfactory=2&<%= @urlendcoded %>"
                    },
                    {
                        name: '3/5',
                        y: <%=raw @update_values[@drug.brand_name][2] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?satisfactory=3&<%= @urlendcoded %>"
                    },
                    {
                        name: '4/5',
                        y: <%=raw @update_values[@drug.brand_name][3] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?satisfactory=4&<%= @urlendcoded %>"
                    },
                    {
                        name: '5/5',
                        y: <%=raw @update_values[@drug.brand_name][4] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?satisfactory=5&<%= @urlendcoded %>"
                    }

                ]
            }]
        });

    });

});
$('#drug_review_side').empty();
$('#drug_review_side').prepend("<%= escape_javascript(render "satisfactory_view_form") %>");
<%end%>

<% if params[:button]=="effectlink"%>
$("#reviews_chart").empty();
$("#word_cloud_chart").empty().height(0);
$("#subheader_holder").html('<h5 class="static_divider">Plot View</h5>');
$(function () {
    $("#reviews_chart").empty();

    var chart;
    $(document).ready(function() {
        Highcharts.setOptions({
            colors: <%=raw @generate_colors%>
        });
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'reviews_chart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'How effective is <%= @drug.brand_name%>'
            },
            labels:{
                items: [
                    {
                        html: "<b>Restrictions:</b> <%= @label%>",
                        style: {
                            left: '0px',
                            top: '0px'
                        }
                    }
                ]
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#313131',
                        connectorColor: '#adadad',
                        distance: 20,
                        formatter: function() {
                            return this.point.y +' reviewers'+'<br>gave <b>'+ this.point.name +'</b>';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Percentage of reviews',
                point: {
                    events: {
                        click: function(e) {
                            window.open(
                                    e.point.url,'_blank' // <- This is what makes it open in a new window.
                            );
                            e.preventDefault();
                        }
                    }
                },
                data:  [
                    {
                        name: '1/5',
                        y: <%=raw @update_values[@drug.brand_name][0] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?effectiveness=1&<%= @urlendcoded %>"
                    },
                    {
                        name: '2/5',
                        y: <%=raw @update_values[@drug.brand_name][1] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?effectiveness=2&<%= @urlendcoded %>"
                    },
                    {
                        name: '3/5',
                        y: <%=raw @update_values[@drug.brand_name][2] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?effectiveness=3&<%= @urlendcoded %>"
                    },
                    {
                        name: '4/5',
                        y: <%=raw @update_values[@drug.brand_name][3] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?effectiveness=4&<%= @urlendcoded %>"
                    },
                    {
                        name: '5/5',
                        y: <%=raw @update_values[@drug.brand_name][4] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?effectiveness=5&<%= @urlendcoded %>"
                    }

                ]
            }]
        });
    });
});
$('#drug_review_side').empty();
$('#drug_review_side').prepend("<%= escape_javascript(render "effectiveness_view_form") %>");
<% end%>

<% if params[:button]=="eoulink"%>
$("#reviews_chart").empty();
$("#word_cloud_chart").empty().height(0);
$("#subheader_holder").html('<h5 class="static_divider">Plot View</h5>');
$(function () {
    $("#reviews_chart").empty();
    var chart;
    $(document).ready(function() {
        Highcharts.setOptions({
            colors: <%=raw @generate_colors%>
        });
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'reviews_chart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: "How easy to use is <%= @drug.brand_name%>"
            },
            labels:{
                items: [
                    {
                        html: "<b>Restrictions:</b> <%= @label%>",
                        style: {
                            left: '0px',
                            top: '0px'
                        }
                    }
                ]
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#313131',
                        connectorColor: '#adadad',
                        distance: 20,
                        formatter: function() {
                            return this.point.y +' reviewers'+'<br>gave <b>'+ this.point.name +'</b>';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Percentage of reviews',
                point: {
                    events: {
                        click: function(e) {
                            window.open(
                                    e.point.url,'_blank' // <- This is what makes it open in a new window.
                            );
                            e.preventDefault();
                        }
                    }
                },
                data:  [
                    {
                        name: '1/5',
                        y: <%=raw @update_values[@drug.brand_name][0] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?ease_of_use=1&<%= @urlendcoded %>"
                    },
                    {
                        name: '2/5',
                        y: <%=raw @update_values[@drug.brand_name][1] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?ease_of_use=2&<%= @urlendcoded %>"
                    },
                    {
                        name: '3/5',
                        y: <%=raw @update_values[@drug.brand_name][2] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?ease_of_use=3&<%= @urlendcoded %>"
                    },
                    {
                        name: '4/5',
                        y: <%=raw @update_values[@drug.brand_name][3] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?ease_of_use=4&<%= @urlendcoded %>"
                    },
                    {
                        name: '5/5',
                        y: <%=raw @update_values[@drug.brand_name][4] %> ,
                        url: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?ease_of_use=5&<%= @urlendcoded %>"
                    }

                ]
            }]
        });
    });
});
$('#drug_review_side').empty();
$('#drug_review_side').prepend("<%= escape_javascript(render "eou_view_form") %>");
<% end%>





