<% content_for :script do %>
    <script type='text/javascript'>
        $(function () {
            $('#paginator nav span a').live('click', function () {
                $.getScript(this.href);
                return false;
            });
        });
    </script>
<% end %>



<p>
  <b>Generic name:</b>
  <%= @drug.generic_name %>
</p>

<p>
  <b>Brand name:</b>
  <%= @drug.brand_name %>
</p>

<p>
  <b>Side effect:</b>
  <%= @drug.side_effect %>
</p>

<p>
  <b>Dosage:</b>
  <%= @drug.dosage %>
</p>

<p>
  <b>Precaution:</b>
  <%= @drug.precaution %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @drug.manufacturer %>
</p>


<%= render "review_ratings"%>
<div id="chart_container">
  <div id="reviews_chart">
  </div>
  <div id="conditions">
  </div>
</div>

<div id="static_buttons">
  <%= render "chart_buttons" %>
</div>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %> |

<%= link_to "See #{@drug.generic_name} reviews", :controller => "reviews", :action => "index", :drug_id=>@drug.id if @drug.reviews.exists? %>
<p>
  <%= link_to "Write a review!", :controller => "reviews", :action => "new", :drug_id=>@drug.id, :drug_name=>@drug.generic_name%>
</p>

<div id="comment-notice"></div>

<p id="notice"><%= notice %></p>


<span id="reviews_count"><%= pluralize(@reviews.count, "reviews") %></span>
<div id="reviews_section">
  <%= render "reviews", :locals => { :list => true } %>
</div>


