<% content_for :script do %>
    <script type='text/javascript' xmlns="http://www.w3.org/1999/html">
        var word_array = [
                <% @tagshash.each_pair do |key,value|%>
                    {text: "<%=key%>", weight: <%= value.to_i%>, link: {href: "<%= DOMAIN_NAME%>/searches/<%= @drug.id%>/non_form_search?keyword=<%=u key%>&<%= @urlendcoded %>", target: "_blank"}},
                <% end%>
        ];

        $(function () {
            $('.paginator nav span a').live('click', function () {
                $.getScript(this.href);
                return false;
            });

            $(document).bind("ajaxSend", function(){
                toggleOverlay();
            }).bind("ajaxComplete", function(){
                        toggleOverlay();
                    });
//            $('.my-content').scrollspy();
            $("#infograph").popover();
            $("#effectlink").popover();
            $("#eoulink").popover();
            $("#satisfylink").popover();
            $("#tag_cloud_link").popover();
            $('#effectlink').bind('click',function(){
                $('#conditions').show;
            });
            $(".bs-docs-sidenav li").live("click", function(){
                      $(".bs-docs-sidenav li").removeClass("active");
                      $(this).addClass("active");
            });
        });
        function toggleOverlay(){
            var overlay = document.getElementById('overlayid');
            var specialBox = document.getElementById('loadingtext');
//            overlay.style.opacity = .8;
            if(overlay.style.display == "block"){
                overlay.style.display = "none";
                specialBox.style.display = "none";
            } else {
                overlay.style.display = "block";
                specialBox.style.display = "block";
            }
        }

    </script>
<% end %>

<!-- level 2 nesting -->
<div class=row>
<div class="span9">
  <article class="articlecontent">
   <h1 id="top" class="static_divider">
    <%= @drug.brand_name.capitalize %>
  </h1>
    <p><i class="icon-backward"></i> <%= link_to "Back To Index",drugs_path%></p>
    <div id="subheader_holder">
      <h5 class="static_divider">Infograph View</h5>
    </div>
    <div class="static_buttons span8">
      <%= render "chart_buttons" %>
    </div>

      <div id="word_cloud_chart"></div>
      <div id="reviews_chart" class="span8">

        <%= render "infographs" if !params[:button]%>
      </div>
  </article>
</div>


<div class="span9">
  <h5 class="static_divider">Information On <%= @drug.brand_name.capitalize %></h5>

      <div class="row">
      <div id="my-nav" class="span2 bs-docs-sidebar">
        <ul  class="nav nav-pills nav-stacked bs-docs-sidenav affix-top" data-spy="affix" data-offset-top="750">
          <li class="active"><a href="#othernames">Other Names</a></li>
          <li><a href="#general">General Information</a></li>
          <li><a href="#sideeffects">Side Effects</a></li>
          <li><a href="#precaution">Precaution</a></li>
          <li><a href="#dietaryprecaution">Dietary Precaution</a></li>
          <li><a href="#howtouse">How To Use</a></li>
          <li><a href="#otheruses">Other Uses</a></li>
          <li><a href="#storage">Storage</a></li>
          <li><a href="#otherinformation">Other Information</a></li>
          <li><a href="#reviews">Reviews</a></li>
        </ul>
      </div>
      <div class="span6 my-content">
        <section >
          <h4 id="othernames"class="subheader">Commonly Known Names <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <ul>
            <% arr= listdrugnames @drug.other_known_names %>
            <% arr.each do |item|%>
                <li><%=  item%></li>
            <%end%>
          </ul>
        </section>
        <section >
          <h4 id="general" class="subheader">General Information <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.prescription_for %></p>
        </section>
        <section >
          <h4 id="sideeffects" class="subheader">Known Side Effects <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.side_effect %></p>
        </section>
        <section >
          <h4 id="precaution" class="subheader">Precautions <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.precaution%></p>
        </section>
        <section >
          <h4 id="dietaryprecaution" class="subheader">Dietary Precautions <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.dietary_precaution%></p>
        </section>
        <section >
          <h4 id="howtouse" class="subheader">Usage, Dosage and Applications <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.how_to_use %></p>
        </section>
        <section >
          <h4 id="otheruses" class="subheader">Other Uses <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.other_uses%></p>
        </section>
        <section >
          <h4 id="storage" class="subheader">Storage <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.storage%></p>
        </section>
        <section >
          <h4 id="otherinformation" class="subheader">Miscellaneous Information <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <p><%= @drug.other_info%></p>
        </section>
        <section >
          <h4 id="reviews" class="subheader">Reviews on <%= @drug.brand_name.capitalize %> <span class="pull-right"><a href="#top">Top<i class="icon-arrow-up"></i></a></span></h4>
          <div id="reviews_section">
            <%= render "reviews", :locals => { :list => true } %>
          </div>
        </section>
      </div>
      </div>
  <p class="span9"><i class="icon-backward"></i> <%= link_to "Back To Index",drugs_path%> </p>
</div>

  <div class="span9 ">

    <article class="articlecontent">

    </article>
    </div>



<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Review For <%= @drug.brand_name%></h3>
  </div>
  <div class="modal-body">
    <p><%= render 'form' %> </p>
  </div>

</div>

</div>

<% content_for :side_widget do  %>
    <%= render "side_widget_last_viewed" %>
    <%= render "side_widget_related_conditions" %>
<% end %>






