<% content_for :script do %>
    <script type='text/javascript'>
        $(function () {
            $('.paginator nav span a').live('click', function () {
                $.getScript(this.href);
                return false;
            });
            $('#write_review').bind('click',function(){
                if ($("#new_review").hasClass("hide"))
                {
                $("#new_review").removeClass("hide");
                }
                else
                {
                    $("#new_review").addClass("hide");
                }

                console.log("this is the click");
            });
        });
    </script>
<% end %>



<p>
  <b>Generic name:</b>
  <%= @drug.generic_name %>
</p>

<p>
  <b>Brand name:</b>
  <%= @drug.brand_name %>
</p>

<p>
  <b>Side effect:</b>
  <%= @drug.side_effect %>
</p>

<p>
  <b>Dosage:</b>
  <%= @drug.dosage %>
</p>

<p>
  <b>Precaution:</b>
  <%= @drug.precaution %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @drug.manufacturer %>
</p>


<div id="chart_container">
  <div id="reviews_chart">
    <div class="hero-unit">
      <h1>Get started!</h1>
      <p>Click on the buttons below to start comparing drugs</p>
      <p>
        <a class="btn btn-primary btn-large">
          Start!
        </a>
      </p>
    </div>
  </div>
  <div id="conditions">

  </div>
</div>


<div id="static_buttons">
  <%= render "chart_buttons" %>
</div>


<div>
        <button id="write_review" class="btn btn-primary" type="button">Write Review</button>
</div>


<%= form_for ([@drug,@review]),:remote=>true,:html => {:class => "form-horizontal hide"} do |f| %>



    <%= fields_for @user do |user_detail_form| %>
        <div class="control-group">
          <%= user_detail_form.label :username, "Enter A Name", :class=>"control-label" %>
          <div class="controls">
            <%= user_detail_form.text_field :username, :placeholder=>"John Doe"%>
          </div>
        </div>
        <div class="control-group">
          <%= user_detail_form.label :email_address, "Email Address", :class=>"control-label" %>
          <div class="controls">
            <%= user_detail_form.text_field :email_address, :placeholder=>"John_Doe@abc.com"%>
          </div>
        </div>
        <div class="control-group">
          <%= user_detail_form.label :age, "Select Age Range", :class=>"control-label" %>
          <div class="controls">
          <%= user_detail_form.select :age, options_for_select([["3-6","3-6"],["7-12","7-12"],["13-18","13-18"],["19-24","19-24"],["25-34","25-34"],["35-44","35-44"],["45-54","45-54"],["55-64","55-64"],["65-74","65-74"],["75 or over","75 or over"]]) %>
          </div>
        </div>
        <div class="control-group">
          <%= user_detail_form.label :gender, "Choose Your Gender", :class=>"control-label" %>
          <div class="controls">
            <%= user_detail_form.select :gender, options_for_select([["Male","Male"],["Female","Female"]]) %>
          </div>
        </div>
        <div class="control-group">
          <%= user_detail_form.label :ethnicity, "Choose An Ethnicity", :class=>"control-label" %>
          <div class="controls">
            <%= user_detail_form.select :ethnicity , options_for_select([["Mixed Race","Mixed Race"],
                                                                         ["Arctic (Siberian, Eskimo)","Arctic (Siberian, Eskimo)"],
                                                                         ["Caucasian (European)","Caucasian (European)"],
                                                                         ["Caucasian (Indian)","Caucasian (Indian)"],
                                                                         ["Caucasian (Middle East)","Caucasian (Middle East)"],
                                                                         ["Caucasian (North African, Other)","Caucasian (North African, Other)"],
                                                                         ["Indigenous Australian","Indigenous Australian"],
                                                                         ["Native American","Native American"],
                                                                         ["North East Asian (Mongol, Tibetan, Korean Japanese, etc)","North East Asian (Mongol, Tibetan, Korean Japanese, etc)"],
                                                                         ["Pacific (Polynesian, Micronesian, etc)","Pacific (Polynesian, Micronesian, etc)"],
                                                                         ["South East Asian (Chinese, Thai, Malay, Filipino, etc)","South East Asian (Chinese, Thai, Malay, Filipino, etc)"],
                                                                         ["West African, Bushmen, Ethiopian","est African, Bushmen, Ethiopian"],
                                                                         ["Other Race","Other Race"]])%>
          </div>
        </div>
        <div class="control-group">
          <%= user_detail_form.label :weight, "Weight (in Kg)", :class=>"control-label" %>
          <div class="controls">
            <%= user_detail_form.text_field :weight %>
          </div>
        </div>

    <% end %>
    <div class="control-group">
      <%= f.label :comments, "Write A Review For This Drug", :class=>"control-label" %>
      <div class="controls">
        <%= f.text_area :comments, :size=> "44x6", :class=>"input-xxlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :effectiveness, "How Effective Is This Drug? (1: not effective , 5: very effective)", :class=>"control-label" %>
      <div class="controls">
        <%= f.radio_button :effectiveness, "1" %> 1 |
        <%= f.radio_button :effectiveness, "2" %> 2 |
        <%= f.radio_button :effectiveness, "3" %> 3 |
        <%= f.radio_button :effectiveness, "4" %> 4 |
        <%= f.radio_button :effectiveness, "5" %> 5
      </div>
    </div>
    <div class="control-group">
      <%= f.label :ease_of_use, "Is This Drug Easy To Use? (1: not easy to use , 5: very easy to use)", :class=>"control-label" %>
      <div class="controls">
        <%= f.radio_button :ease_of_use, "1" %> 1 |
        <%= f.radio_button :ease_of_use, "2" %> 2 |
        <%= f.radio_button :ease_of_use, "3" %> 3 |
        <%= f.radio_button :ease_of_use, "4" %> 4 |
        <%= f.radio_button :ease_of_use, "5" %> 5
      </div>
    </div>
    <div class="control-group">
      <%= f.label :satisfactory, "Are You Satisfied With This Drug? (1: not satisfied, 5: very satisfied)", :class=>"control-label" %>
      <div class="controls">
        <%= f.radio_button :satisfactory, "1" %> 1 |
        <%= f.radio_button :satisfactory, "2" %> 2 |
        <%= f.radio_button :satisfactory, "3" %> 3 |
        <%= f.radio_button :satisfactory, "4" %> 4 |
        <%= f.radio_button :satisfactory, "5" %> 5
      </div>
    </div>
    <div class="control-group">
      <%= f.label :usage_duration_days, "Choose Average Dosage", :class=>"control-label" %>
      <div class="controls">
        <%= f.select :usage_duration_days, options_for_select([["< than a day",1],["<a week",7],["<a month",30],["<a year",365]]) %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :other_drugs, "Are You Taking Any Other Drugs At The Same Time?", :class=>"control-label" %>
      <div class="controls">
        <%= f.text_field :other_drugs%>
      </div>
    </div>
    <%= hidden_field_tag :drug_id, @drug.id%>
    <div id="error_explanation" class="hide"></div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Submit Review" ,:class=>"btn btn-primary"%>
      </div>
    </div>



<% end %>


<div id="reviews_section">
  <%= render "reviews", :locals => { :list => true } %>
</div>




