<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-list"></span>
    </a>
      <!-- Be sure to leave the brand out there if you want it shown -->

        <div class="nav-collapse collapse navbar-responsive-collapse">

          <ul class="nav">
            <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action]=='home' %>">
              <%= link_to 'Home', home_path%>
            </li>
            <li class="<%= 'active' if (params[:controller] == 'reviews'||params[:controller] == 'drugs') %> dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Browse Drugs <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="menu_sub_header">All Drugs</li>
                <li><%= link_to 'Drugs A-Z List', drugs_path %></li>
                <li class="divider"></li>
                    <li class="menu_sub_header">Top Picks</li>
                      <li><%= link_to "#{@drugs_top_picks[0].brand_name.capitalize}  (High Blood Pressure)" , drug_reviews_path(@drugs_top_picks[0].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[1].brand_name.capitalize}  (Thyroid Disorder)" , drug_reviews_path(@drugs_top_picks[1].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[2].brand_name.capitalize}  (Depression)" , drug_reviews_path(@drugs_top_picks[2].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[3].brand_name.capitalize}  (Cholesterol)" , drug_reviews_path(@drugs_top_picks[3].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[4].brand_name.capitalize}  (Type II Diabetes)" , drug_reviews_path(@drugs_top_picks[4].id) %></li>
              </ul>

            </li>
            <li class="dropdown <%= 'active' if params[:controller] == 'conditions' %>">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Browse Conditions <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="menu_sub_header">All Conditions</li>

                  <li><%= link_to 'Conditions A-Z List', conditions_path %></li>
                  <li class="divider"></li>
                  <li class="menu_sub_header">Day to Day Health</li>

                  <% @day2day_condition.each do |day| %>
                      <li>
                        <%= link_to day.name, condition_path(day.condition_id) %>
                      </li>
                  <% end %>
                  <li class="divider"></li>
                  <li class="menu_sub_header">Common Conditions</li>

                  <% @common.each do |common| %>
                      <li>
                        <%= link_to common.name, condition_path(common.condition_id) %>
                      </li>
                  <% end %>
                </ul>
            </li>
            <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action]=='review' %>">
              <%= link_to 'Review A Drug', static_pages_review_path%>
            </li>
            <li>
              <%= form_tag searches_path,:class=>"navbar-form pull-left", :method => :get do %>
                  <%= text_field_tag :search, params[:search] ,:class=>"search-query text-area-hack", :placeholder=>"Search Drug/Condition" %>
                  <!--<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>-->
              <% end %>
            </li>
          </ul>

          <!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-search">-->
            <!--<span class="icon-search"></span>-->
          <!--</a>-->


         </div>

    </div>
  </div>
  </div>
