<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-list"></span>
    </a>
      <!-- Be sure to leave the brand out there if you want it shown -->

        <div class="nav-collapse collapse navbar-responsive-collapse">

          <ul class="nav">
            <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action]=='home' %>">
              <%= link_to "#{t "header.home_button"}", home_path%>
            </li>
            <li class="<%= 'active' if (params[:controller] == 'reviews'||params[:controller] == 'drugs') %> dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%=t "header.browse_drug.title"%> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="menu_sub_header"><%t "header.browse_drug.subheader1.category" %></li>
                <li><%= link_to "#{t "header.browse_drug.subheader1.A-Zdrug"}", drugs_path %></li>
                <li class="divider"></li>
                    <li class="menu_sub_header"><%t "header.browse_drug.subheader2.category" %></li>
                      <li><%= link_to "#{@drugs_top_picks[0].brand_name.capitalize}  (#{t "header.browse_drug.subheader2.high_blood_pressure"})" , drug_reviews_path(@drugs_top_picks[0].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[1].brand_name.capitalize}  (#{t "header.browse_drug.subheader2.thyroid_disorder"})" , drug_reviews_path(@drugs_top_picks[1].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[2].brand_name.capitalize}  (#{t "header.browse_drug.subheader2.depression"})" , drug_reviews_path(@drugs_top_picks[2].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[3].brand_name.capitalize}  (#{t "header.browse_drug.subheader2.cholesterol"})" , drug_reviews_path(@drugs_top_picks[3].id) %></li>
                <li><%= link_to "#{@drugs_top_picks[4].brand_name.capitalize}  (#{t "header.browse_drug.subheader2.diabetes"})" , drug_reviews_path(@drugs_top_picks[4].id) %></li>
              </ul>

            </li>
            <li class="dropdown <%= 'active' if params[:controller] == 'conditions' %>">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%=t "header.browse_condition.title"%> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="menu_sub_header"><%=t "header.browse_condition.subheader1.category"%></li>

                  <li><%= link_to "#{t "header.browse_condition.subheader1.item1"}", conditions_path %></li>
                  <li class="divider"></li>
                  <li class="menu_sub_header"><%=t "header.browse_condition.subheader2.category"%></li>

                  <% @day2day_condition.each do |day| %>
                      <li>
                        <%= link_to day.name, condition_path(day.condition_id) %>
                      </li>
                  <% end %>
                  <li class="divider"></li>
                  <li class="menu_sub_header"><%=t "header.browse_condition.subheader3.category"%></li>

                  <% @common.each do |common| %>
                      <li>
                        <%= link_to common.name, condition_path(common.condition_id) %>
                      </li>
                  <% end %>
                </ul>
            </li>
            <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action]=='review' %>">
              <%= link_to "#{t "header.review"}", static_pages_review_path%>
            </li>
            <li>
              <%= form_tag searches_path,:class=>"navbar-form pull-left", :method => :get do %>
                  <%= text_field_tag :search, params[:search] ,:class=>"search-query text-area-hack", :placeholder=>"#{t "header.search_text"}" %>
                  <!--<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>-->
              <% end %>
            </li>
            <li>
              <%= link_to "#{t "header.language"}", "#{APP_CONFIG['chinese_site']}"%>
            </li>
          </ul>

          <!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-search">-->
            <!--<span class="icon-search"></span>-->
          <!--</a>-->


         </div>

    </div>
  </div>
  </div>
