<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render "layouts/stylesheets" %>
  <%= yield :script %>
  <meta name="google-translate-customization" content="43e61bbe839a7620-91e885a7d7ad42a0-g12f10987e33d56b3-15"></meta>
</head>
<body>
<%= render "layouts/header" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span8">
      <!--Body content-->
      <%= yield %>

    </div>
    <div class="span2">
      <!--Sidebar content-->
    </div>
  </div>

  <%= render "layouts/footer" %>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>