<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render "layouts/stylesheets" %>
  <%= yield :script %>
</head>
<body>
<div id="overlayid" class="pageOverlay transparent_class"></div>
<div id="loadingtext" class="loadingOverlay">
  <div id="fountainTextG" class="transparent_class">
    <div id="fountainTextG_1" class="fountainTextG">
      G</div>
    <div id="fountainTextG_2" class="fountainTextG">
      e</div>
    <div id="fountainTextG_3" class="fountainTextG">
      n</div>
    <div id="fountainTextG_4" class="fountainTextG">
      e</div>
    <div id="fountainTextG_5" class="fountainTextG">
      r</div>
    <div id="fountainTextG_6" class="fountainTextG">
      a</div>
    <div id="fountainTextG_7" class="fountainTextG">
      t</div>
    <div id="fountainTextG_8" class="fountainTextG">
      i</div>
    <div id="fountainTextG_9" class="fountainTextG">
      n</div>
    <div id="fountainTextG_10" class="fountainTextG">
      g</div>
    <div id="fountainTextG_11" class="fountainTextG">
      &nbsp;
    </div>
    <div id="fountainTextG_12" class="fountainTextG">
      R</div>
    <div id="fountainTextG_13" class="fountainTextG">
      e</div>
    <div id="fountainTextG_14" class="fountainTextG">
      s</div>
    <div id="fountainTextG_15" class="fountainTextG">
      u</div>
    <div id="fountainTextG_16" class="fountainTextG">
      l</div>
    <div id="fountainTextG_17" class="fountainTextG">
      t</div>
    <div id="fountainTextG_18" class="fountainTextG">
      s</div>
    <div id="fountainTextG_19" class="fountainTextG">
      &nbsp;
    </div>
    <div id="fountainTextG_20" class="fountainTextG">
      .</div>
    <div id="fountainTextG_21" class="fountainTextG">
      &nbsp;
    </div>
    <div id="fountainTextG_22" class="fountainTextG">
      .</div>
    <div id="fountainTextG_23" class="fountainTextG">
      &nbsp;
    </div>
    <div id="fountainTextG_24" class="fountainTextG">
      .</div>
  </div>
</div>
<%= render "layouts/header" %>
<div class="container">
  <div class="row">

    <div class="span10">
      <!--Body content-->
      <%= yield %>

    </div>
    <div class="span2">
      <p></p>
      <div class="box">

        <span class="miniheader">Filters</span>
        <article id="conditions" class="articlecontent">
        </article>
      </div>


  </div>
  </div>
</div>
  <%= render "layouts/footer" %>


<%= debug(params) if Rails.env.development? %>

</body>
</html>