<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render "layouts/stylesheets" %>
  <%= yield :script %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="border-shadow">
      <div class="header_container">
        <%= link_to image_tag("chosen1blue.png",:class=>"brand"), home_path%>
        <%= form_tag searches_path,:class=>"navbar-search pull-right", :method => :get do %>
            <%= text_field_tag :search, params[:search] ,:class=>"search-query", :placeholder=>"Search Drug/Condition" %>
            <button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
        <% end %>
      </div>
      <%= render "layouts/header"%>
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render "layouts/footer" %>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>