<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render "layouts/stylesheets" %>
  <%= yield :script %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container-fluid">
  <div class="row-fluid">
    <!--<div class="span1">-->
    <!--</div>-->
    <!--added outside render to prevent the previous button bug-->
    <div class="span10">
      <%= yield %>
    </div>
    <div class="span1">

      <%= render "widgets" %>
    </div>
  </div>
  <div class="row-fluid">
    <%= render "layouts/footer" %>
  </div>
</div>

<%= debug(params) if Rails.env.development? %>

</body>
</html>