<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render "layouts/stylesheets" %>
  <%= yield :script %>
</head>
<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="border-shadow">
      <div class="header_container">
        <%= image_tag("chosen1blue.png",:class=>"brand") %>
        <%= form_tag searches_path,:class=>"navbar-search pull-right", :method => :get do %>
            <%= text_field_tag :search, params[:search] ,:class=>"search-query", :placeholder=>"Search Drug/Condition" %>
            <button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
        <% end %>
      </div>

      <%= render "layouts/header"%>
      <%=  render "features"%>
      <div class="span12 other_contents_container">
        <!--<div class="row-fluid">-->
        <%= yield %>
        <!--</div>-->
      </div>
      <div class="span11">
        <%= render "layouts/footer" %>
        </div>
      <div class="span12">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </div>
</div>
        <!--added outside render to prevent the previous button bug-->




</body>
</html>