<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render "layouts/stylesheets" %>
  <%= yield :script %>
</head>
<body>

<div class="container">
  <div class="row-fluid">
    <%= render "layouts/header"%>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span 12">
      <div class="row-fluid">
        <div class="span6 offset1">
          <div class="header_container">
            <%= link_to image_tag("chosen1blue.png",:class=>""), home_path%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span10 offset1">
          <h3 class="static_divider">Features</h3>
          <%=  render "features"%>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <div class="span11 offset1">
            <%= yield %>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
      <div class="span11">
        <%= render "layouts/footer" %>
        </div>
      <div class="span12">
        <%= debug(params) if Rails.env.development? %>
      </div>
    <!--</div>-->
  </div>
</div>
        <!--added outside render to prevent the previous button bug-->




</body>
</html>